/* This stylesheet is used to style the public-facing components of the plugin. */

.stock-ticker {
	border-radius: 4px;
	background-color: #f1f1f1;
	padding: 10px 15px 20px 15px;
	margin-right: 40px;
	margin-bottom: 5px;
	text-align: center;
}

.stock-price {
	font-size: 46px;
	color: #f06730; /* orange */
	font-weight: 600;
	margin-top: 0 !important;
}

.stock-price .stock-change {
	font-size: 19px;
	color: #292929; /*  off-black */
}

.stock-date {
	font-size: 14px;
}

.stock-notes {
	font-size: 14px;
	font-style: italic;
}

.stock-wide {
	width: 100%;
	display: block;
	
}